{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{% static 'js/home.js' %}" defer></script>

    <title>Home - Thrift Shop</title>
    <!-- <link rel="stylesheet" href="{% static 'css/header.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->


    <!-- <script src="{% static 'js/header.js' %}" defer></script>
    <script src="{% static 'js/product_list.js' %}" defer></script>
    <script src="{% static 'js/cart.js' %}" defer></script> -->

</head>

<body>

    <!-- Include Header -->
    {% include 'store/header.html' %}

    {% include "store/product_list.html" with products=products %}

    {% include "store/footer.html" %}

</body>

</html>